.laparoscopia{
    padding: 3rem 0;
    padding-top: 8rem;
    background-image: url("../img/home-page/inspeccion-de-tuberias-blur.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    .laparoscopia--title{
         h2{
            color:$brand-grey-dark;
            line-height: 1.4;
            margin-top: 0;
            font: 300  4rem  $font-family-base;
            margin-top: 6rem;
            font-weight:300;
            font-size: 6rem;
            text-align: right;
            color:white;
                    &:after {
                    content: "";
                    display: block;
                    width: 900px;
                    height: 4px;
                    background: $color-base;
                    margin:0 0 0 50px;
                    float: right;
                }
            }
        }

    .laparoscopia--icon-section{
        padding: $space-lg;
        padding-top: $space-xl;
        display: flex;
        justify-content: center;
        i{
            font-size: 70px;
        }
        .service-element {
            text-align: center;
            font-size: $font-xxlg;
            color:white;
        }
        .service-info{
            p{
                text-align: center;
                font-size: $font-md;
                text-transform: capitalize;
                color:white;
            }
    
        }

    }
    .laparoscopia--img{
        box-shadow: $shadowOne;
        padding: $no-space;
    }
}