.laparoscopia{
    padding: 3rem 0;
    background-image: url("../img/bg/bg-design.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    p , h3 , i{
        color:$color-white;
        text-transform: uppercase;
        font-weight: 300;
    }
    .laparoscopia--title{
        width:100%!important;
        h2{
            color:$brand-grey-dark;
            line-height: 1.4;
            margin-top: 0;
            font: 300  4rem  $font-family-base;
            margin-top: 6rem;
            font-weight:300;
            font-size: 6rem;
            text-align: right;
            color:white;
                    &:after {
                    content: "";
                    display: block;
                    width: 900px;
                    height: 4px;
                    background: $brand-red;
                    margin:0 0 0 50px;
                    float: right;
                }
            }
        }
    .service {
     background: transparent;
     margin-bottom: 4rem;
     padding: 50px 40px;
        .service-element, .service-info {
        
        }
        .service-icon {
            display: block;
            font-size: 6rem;
            color: $color-white;
            margin-bottom: 30px;
        }
        &:hover {
            .service-element {
        
            }
            .service-info {
            
            }
        }
    }
    .promo-section-img-left{
        right: 0;
    }
    .laparoscopia--icon-section{
        .service{
            padding: $font-lg;
        }
        .service-icon {
            text-align: center;
            font-size: $font-xxlg;
        }
        .service-info{
            text-align: center;
        }
    }
    .laparoscopia--img{
        box-shadow: $shadowOne;
    }
}